<launch>

  <rosparam command="load" file="$(find fwdis)/config/fwdis.yaml"/>
  <include file="$(find fwdis)/launch/gazebo.launch"/>
  <include file="$(find fwdis)/launch/rviz.launch"/>
  <include file="$(find fwdis)/launch/control.launch"/>
  <node pkg="fwdis" type="fwdis_controller" name="fwdis_controller"/>
  <node pkg="fwdis" type="fwdis_gazebo" name="fwdis_gazebo"/>

</launch>
